@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* .spons_content{
    background-image: url("../../assests/sponsbg2.png");
    background-size: cover;
    width: 100vw;
    
    padding-bottom: 6vh;
   
    height: 100%;
   
    
    

} */







.navbar{
    position: fixed;
    z-index: 20;
}
.spons_home>img{
    position: fixed;
    width: 100vw;
    height: 680vh;
    margin-top: 68px;
    z-index: -5;

}

.spons_box{
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}


.spons_content>img{
    width: 100vw;
    position: absolute;
    z-index: 2;
}


.heading1{
    z-index: 10;
    position: relative;
}

.heading1>p{
    color: #FFF;
text-align: center;
font-family: 'Bebas Neue', sans-serif;

font-size: 7.7vw;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 96px */
letter-spacing: 7.76px;
padding-top: 21vh; 
}

.spons_box1{
    margin-top: 24vh;
   z-index: 10;
   position: relative;
   margin-bottom: 20vh;
   
}

.spons_box2{
    margin-top: 47vh;
   z-index: 10;
   position: relative;
   margin-bottom: 7vh;
   
   
}

.spons_box2>img{
    width: 72vw;
    height: 39vh;
}


.spons_box3{
    margin-top: 54vh;
   z-index: 10;
   position: relative;
   
   
}

.spons_box3>img{
    width: 100vw;
    height: 39vh;
}


.spons_box1>img{
    width: 78vw;
    height: 39vh;
}

.spons_cont{
    color: #000;
text-align: center;
font-family: Comic Sans MS;
font-size: 1.7vw;
font-style: normal;
font-weight: 700;
line-height: 4vh; /* 100% */
letter-spacing: -0.4px;

z-index: 10;
margin-top: -27vh;
}

.spons_cont2{
    color: #000;
text-align: center;
margin-left: 4vw;
font-family: Comic Sans MS;
font-size: 1.7vw;
font-style: normal;
font-weight: 700;
line-height: 4vh; /* 100% */
letter-spacing: -0.4px;

z-index: 10;
margin-top: -35vh;
}

.sponstitle{
    color: #000;
    /* text-align: center; */
    margin-left: 38vw;
    font-family: Comic Sans MS;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 700;
    line-height: 23vh; /* 100% */
    letter-spacing: -0.4px;
    
    z-index: 10;
    margin-top: -14vh;

}



.spons_cont3{
    color: #000;
text-align: center;
margin-left: 23vw;
font-family: Comic Sans MS;
font-size: 1.1vw;
font-style: normal;
font-weight: 700;
line-height: 4vh; /* 100% */
letter-spacing: -0.4px;

z-index: 10;
margin-top: -33vh;
}

.spons_cont4{
    color: #000;
text-align: center;
margin-left: 23vw;
font-family: Comic Sans MS;
font-size: 1.1vw;
font-style: normal;
font-weight: 700;
line-height: 4vh; /* 100% */
letter-spacing: -0.4px;

z-index: 10;
margin-top: -33vh;
}

.spons_img{
    display: flex;
    margin-left: 25vw;
    margin-top: 2.5vh;
}

.spons_img>img{
    margin-left: 2.5vw;
    margin-right: 2vw;
    height: 14vh;
    

}

.spons_heading{
    display: flex;
    
}

.spons_heading>p{
    margin-left: -7vw;
    padding-right: 13vw;
}

.spons_heading1{
    display: flex;
    
}

.spons_heading1>p{
    margin-left: -2vw;
    padding-right: 21vw;
}

.spons_img2{
    display: flex;
    margin-left: -10vw;
    margin-top: 8.5vh;
}

.spons_img2>img{
    margin-left: 1.3vw;
    margin-right: 2vw;
    height: 14vh;
    margin-top: -5vh;

}

.spons_img3{
    display: flex;
    margin-left: -10vw;
    margin-top: 8.5vh;
}

.spons_img3>img{
    margin-left: 6.3vw;
    margin-right: 2vw;
    height: 14vh;
    margin-top: -5vh;

}

.brand{
    width: 9vw;

}

.brandtitle{
    width: 9vw;
}

/* .middleimg{
    border-left: 3px;
    border-right: 3px;
} */

.sponsmobview{
    display: none;
}

@media only screen and (max-width: 768px){
   
    .spons_home{
       
        /* display: none; */
        
        
    }
    
    .sponsmobview{
        display:block;
    }

    .brand{
        width: 12vw;
    }

    .spons_heading>p{
        margin-left: -7vw;
        padding-right: 17vw;
    }

    .spons_heading1>p{
        margin-left: -7vw;
        padding-right: 17vw;
    }
}

@media only screen and (max-width: 584px){
    .spons_cont{
        font-size: 2vw;
    }

    .spons_cont2{
        font-size: 2vw;
    }

    .spons_cont3{
        font-size: 2vw;
    }
    .spons_cont4{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 380px){
    .spons_cont{
        font-size: 3vw;
    }

    .spons_cont2{
        font-size: 2vw;
    }

    .spons_cont3{
        font-size: 2vw;
    }

    .spons_cont4{
        font-size: 2vw;
    }
}

