@media only screen and (max-width:768px){
    .pay-success{
        margin: auto !important;
    }
}

.paymentsuccessful{
    display: flex;
    flex-direction: column;
}

.sponImg{
    margin-bottom: 4rem;
}