@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.payment-box{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 338px;
    /* border: 2px solid white; */
    
}
.box-text1{
    color: #FFF;
    text-align: center;
    font-family: Rowdies;
    font-size: 24px;
    font-style: normal;
    font-weight: 1000;
    line-height: 100%; /* 24px */
    letter-spacing: -0.48px;
    padding-top: 15px;
    
}
.box-text2{
    color: #FFF;
    text-align: center;
    font-family: Comic Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    padding-top: 20px;
    }
/* old payment */
utton{
  cursor: pointer;
}

.Paycontainer {

  /* background: radial-gradient(111.43% 111.43% at 0% 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%)
  
  ;
  backdrop-filter: blur(42px);
 
  border: 1px solid white;
  border-radius: 0%;
  display: flex;
  justify-content:space-between;
  margin-right: 5vw;
  */

  width: 68vw;
  height: 80vh;
  color: white;
  margin-top: 5vh;
}

.Paycontaineralumn {
  width: 71vw;
  height: 80vh;
  background: radial-gradient(111.43% 111.43% at 0% 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  backdrop-filter: blur(42px);
  margin-top: 10vh;
  border: 1px solid white;
  border-radius: 0%;
  display: flex;
  justify-content:flex-start !important;
  /* align-items: center; */
  margin-right: 5vw;
  color: white;
}

.Payleft {
  margin-left: 55px;
  margin-top: 45px;

}

.payheading {
  font-family: 'Oxanium', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;

}

.amountBox {
  margin-top: 24px;
  padding-top: 29px;
  padding-left: 25px;
  padding-right: 26px;
  padding-bottom: 18px;
  max-width: 358px;
  /* height: 209px; */
  border: 0.5px solid rgba(255, 255, 255, 0.6);
}

.PayAmount {
  display: flex;
  justify-content: space-between;
}

.PayAmount p {
  font-family: 'Oxanium', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 16px;
}

.Payline1 {
  margin-top: 4px;
  border-bottom: 1px solid white;
  max-width: 303px;
  height: 0px;
}

.TotalAmount {
  margin-top: 17px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.PayTaxes {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding-left: 4px;
}

.Paylarge {
  font-family: 'Oxanium', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
}

.PayAccommodation {
  font-family: 'Oxanium', cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  max-width: 303px;
}

.Payevent {
  margin-top: 40px;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 19px;
  max-width: 358px;
}

.yesNo {
  display: flex;
  gap: 15px;
  margin-top: 26px;
  margin-bottom: 55px;
}

.yesbtn {
    background: radial-gradient(
    100% 672.75% at 100% 100%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid transparent;

  border-image-source: radial-gradient(
      115.98% 168.03% at -3.2% 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-image-slice: 1;
  /* backdrop-filter: blur(8px); */
  width: 72px;
  height: 36px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  justify-content: center;
  transition-duration: 500ms;
}

.yesbtn:hover{
  border-image-source: radial-gradient(
    115.98% 168.03% at -3.2% 0%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.nobtn {
  background: radial-gradient(
    100% 672.75% at 100% 100%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 2px solid transparent;

  border-image-source: radial-gradient(
      115.98% 168.03% at -3.2% 0%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.6) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-image-slice: 1;
  /* backdrop-filter: blur(8px); */
  width: 72px;
  height: 36px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  justify-content: center;
  transition-duration: 500ms;
}

.nobtn:hover{
  border-image-source: radial-gradient(
    115.98% 168.03% at -3.2% 0%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.PayNowBtn {
  padding: 8px 24px;
  width: 110px;
  height: 36px;
  border: .5px solid white;
  background: transparent;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: white;
}

.PayNowBtn:hover{
  border: .5px solid white;
  padding: 8px 24px;
  width: 110px;
  height: 36px;
  border: none;
  background: rgba(255, 255, 255, 0.6);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #333333;
}

.PayNowBtnActive {
  padding: 8px 24px;
  width: 110px;
  height: 36px;
  border: none;
  background: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #333333;
}

.PayRight {
  margin-left: 100px;
  margin-top: 55px;
  margin-right: 8px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.Payimg {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 55px;
}

.payRightHeader {
  margin-top: -15px;
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.Payevntnm {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;

}

.Payevntnm {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.PayTeamNm input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 428px;
  height: 40px;
  border: 1px solid #FFFFFF;
  background: transparent;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.PayTeamNm input::placeholder{
  color: white;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.Payline2 {
  border-bottom: 1px solid white;
  max-width: 428px;
  height: 0px;
}

.payheadContainer {
  margin-top: 30px !important;
  width: 428px;
  height: 40px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.payheader {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #333333;
  padding-top: 12px;
  padding-left: 15px;
  padding-bottom: 13px;
}

.paylistContainer {
  margin-top: -16px;
  width: 428px;
  max-height: 135px !important;
  overflow-y: scroll;
  border: 1.5px solid white;
  background: radial-gradient(
    100% 672.75% at 100% 100%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* backdrop-filter: blur(8px); */
}

.paylistContainer ul {
  padding-left: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #ffffff;
  list-style: none;
}

.paylistContainer ul li {
  padding: 8px 0px 5px 22px;
}

.paylistContainer ul li:hover {
  background-color: black;
}

.payarrow {
  color: white;
  position: relative;
  top: -28px;
  right: -385px;
}

.payDetailScroll{
  overflow-y: scroll;
    margin-top: -20px;
    height: 53vh;
    padding-top: 15px;
    padding-right: 10px;
}
.paymentsuccess{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pay-table{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 50vh;
  overflow-y: scroll;
  width: 65vw;
  overflow-x: hidden;
  /* padding: 20px; */
}

.pay-table::-webkit-scrollbar{
  display: none;
}

.par-head{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 60vw;
  height: 5vh;
  /* gap: 10vw; */
}

.pay-tr-head{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 60vw;
  height: 5vh;
  gap: 6vw;
}

.pay-tr{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 60vw;
  height: 5vh;
  gap: 6vw;
}

.pay-th{
  display: flex;
  justify-content: flex-start;
  width: 8vw;
}