.CarouselCommittee
{
    height: 110vh;
    width: 100vw;
    margin-top:10vh;
}
.judge1-img{
    /* height:58vh; */
    width:52vw;
    object-fit: cover;
    border-radius: 10px;
    
    
}
.judge2-img{
    /* height:58vh; */
    width:52vw;
    border-radius: 10px;

}
.judge3-img{
    /* height:58vh; */
    width: 52vw;
    border-radius: 10px;

}
.judge1-discription{
    color: #ffffff;
    text-align: center;
}
/* .j1{
    object-fit: cover;
} */
/* .hero1{
    object-fit: cover;
} */

@media only screen and (max-width:650px)
{
    .CarouselCommittee
{
    height: 100vh;
}
}
@media only screen and (max-width:500px)
{
    .CarouselCommittee
{
    height: 80vh;
}
}
@media only screen and (max-width:450px)
{
    .CarouselCommittee
{
    height: 65vh;
}
/* .hero1{
    object-fit: cover;
} */

.judge1-img{
    height:50vh;
    border-radius: 10px;
    
    
}

.judge2-img{
    height:48vh;
    border-radius: 10px;
}
.judge3-img{
    height:48vh;
    border-radius: 10px;
}
}
@media only screen and (max-width:350px)
{
    .CarouselCommittee
{
    height: 51vh;
}
/* .hero1{
    object-fit: cover;
} */
.judge1-img{
    height:40vh;
    border-radius: 10px;
}
.judge2-img{
    height:40vh;
    border-radius: 10px;
}
.judge3-img{
    height:40vh;
    border-radius: 10px;
}
}