.HomeMUN-bg
{
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 775vh;
}
/* @media only screen and (max-height:1000px)
{
    .HomeMUN-bg
{
    height: 480vh;
}
} */


/* @media only screen and (max-height:750px){
     height: 720vh;
} */




/* @media only screen and (max-width:550px)
{
    .HomeMUN-bg
{
    height: 660vh;
}
} */

@media only screen and (max-width:768px)
{
    .FAQimg
    {
        width: 15vw;
    }
}
@media only screen and (max-height:740px)
{
    .HomeMUN-bg
{
    height: 764vh;
}
}
@media only screen and (max-width:700px)
{
    .HomeMUN-bg
{
    height: 760vh;
}
}

@media only screen and (max-width:680px)
{
    .HomeMUN-bg
    {
        height: 750vh;
    }
}

@media only screen and (max-width:640px)
{
    .HomeMUN-bg
    {
        height: 725vh;
    }
}
@media only screen and (max-height:601px)
{
    .HomeMUN-bg
    {
        height: 770vh;
    }
}
@media only screen and (max-width:600px)
{
    .HomeMUN-bg
{
    height: 735vh;
}
.FAQimg
    {
        width: 20vw;
    }
}

@media only screen and (max-width:550px)
{
    .prizesMUNWorth
    {
        margin-top: 20vh;
    }
}
@media only screen and (max-width:549px)
{
    .HomeMUN-bg
{
    height: 730vh;
}
}

@media only screen and (max-width:500px)
{
    .HomeMUN-bg
{
    height: 690vh;
}
}
@media only screen and (max-width:450px)
{
    .HomeMUN-bg
{
    height: 675vh;
}
.FAQimg
{
    width: 25vw;
}
}
@media only screen and (max-width:400px)
{
    .HomeMUN-bg
{
    height: 680vh;
}
.top-HomeMUN
{
    margin-top: 5vh;
}

}




@media only screen and (max-width:350px)

{
    .HomeMUN-bg
{
    height: 665vh;
}
}
/* @media only screen and (max-width:349px)

{
    .HomeMUN-bg
{
    height: 552vh;
}
} */
@media only screen and (max-width:330px){
    .HomeMUN-bg{
        height:680vh;
    }
}

.top-HomeMUN
{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
.top-HomeMUN-img
{
    width: 50vw;
}
.registerMUNNowBtn
{
    display: flex;
    justify-content: center;
}
.registerMUNNowBtnClick
{
    /* width: 20vw; */
    border-radius: 16px;
    color: #000;
    font-family: Bangers;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 32px */
    letter-spacing: 1.6px;
    padding: 1vh 2.5vw;
    background-color: #fff;
    margin-top: 19vw;
}
.prizesMUNWorth {
    border-radius: 14px;
    background: rgba(8, 48, 114, 0.40);
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.2%;
    /* 32.44px */
    letter-spacing: 1px;
    width: 50vw;
    margin: auto;
    margin-top: 30vh;
    padding: 1.5vh 2vw;
    padding-bottom: 2.5vh;
}

.prizesMUNWorth1 {
    width: 25vw;
    display: block;
    margin-bottom: 5vh;
}

.prizesMUNWorthDiv {
    display: flex;
    justify-content: center;
}

.CommitteeHead
{
    display: flex;
    justify-content: center;
}
.CommitteeHead img{
    width: 40vw;
}
#committeeHead1 img{
    margin-top:15vh;
    margin-bottom: -2vh;
}
#committeeHead2 img{
    margin-top:9vh;
    width:55vw;
}


/* @media only screen and (max-width:680px)
{
    .HomeMUN-bg
{
    height: 743vh;
}
} */



/* @media only screen and (max-width:550px)
{
    .prizesMUNWorth
    {
        margin-top: 10vh;
    }           
} */




.ExecutiveMobile
{
    display: flex;
    justify-content: center;
}