@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comic+Neue:wght@700&family=Lato:wght@700&family=Montserrat&family=Roboto:wght@100&family=Rowdies:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.EventBox-background{
    background-color: black;
    /* margin: auto; */
    /* width: fit-content; */
}
.EventBox-Text{
color: #FFF;
text-align: center;
font-family: Rowdies;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 24px */
letter-spacing: -0.48px;
}
.EventBox-Image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5vh;
    margin-top: 20vh;
}
.EventBox-BTN{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}
.EventBox-Button{
    /* width: 9vw;
    height: 4vh; */
    padding: 8px 20px;
    gap: 10px;
    color: #333;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
    letter-spacing: -0.32px;
}
.drop3{
    position: absolute;
    top: 12vh;
    right: 1vw;
    height: auto;
    z-index: 7;
    display: flex;
    padding: 0 10px 30px 10px;
    justify-content: space-evenly;
    width: 70vw;
    background-color: #282828;
}

@media only screen and (max-width: 800px)
{
    .eventcard-nav-part{
        display: none;
    }
}
@media only screen and (max-width: 350px)
{
    .EventBox-Text{
        font-size: 20px;
    }
}

/* .addEventButton-Profile{
    margin-bottom: 100px;
} */