.college {
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.4));
    padding: 7vh 5.4vw;
  }

  #rgs-state-uks{
    width: 25vw;
  }
  #rgs-district-uks{
    width: 25vw;
  }

  
  .college-steps {
    display: flex;
    flex-direction: row;
    gap: 7.28vw;
  }
  
  .college-step1,
  .college-step2 {
    display: flex;
    flex-direction: row;
    gap: 1.39vw;
  }
  
  .college-step1-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1.19px solid #111111;
    border-radius: 5px;
    background-color: #12c459;
    box-shadow: 1.19px 2.38px 0px 0px #111111;
  }
  
  .college-step1-number-content {
    font-family: Comic Neue;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  
  .college-step1-description,
  .college-step2-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .college-step1-description-content-para1,
  .college-step2-description-content-para1 {
    height: 8px;
    color: #000;
    font-family: Comic Neue;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.015rem;
  }
  
  .college-step1-description-content-para2,
  .college-step2-description-content-para2 {
    height: 11px;
    color: #000;
    font-family: Comic Neue;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.02rem;
  }
  
  .college-step2-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1.19px solid #111111;
    border-radius: 5px;
    background-color: #ff5c00;
    box-shadow: 1.19px 2.38px 0px 0px #111111;
  }
  
  .college-step2-number-content {
    font-family: Comic Neue;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.02em;
  
    color: #ffffff;
  }
  
  .college-inputs {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 6vh 0 7vh;
  }
  
  .college-input1,
  .college-input3 {
    display: flex;
    flex-direction: row;
    gap: 3.33vw;
  }
  
  .college-input2 {
    display: flex;
    flex-direction: row;
  }
  
  .input-field {
    box-sizing: border-box;
    /* width: 19.44vw;
    height: 40px; */
    padding: 12px 20px;
    border-radius: 6px;
    border: 1.5px solid #505050;
    color: #505050;
    background-color: #ffffff;
    box-shadow: 1.5px 3px 0px 0px #505050;
    font-family: Comic Sans MS;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;
    height: 40px;
  }
  
  #reg-college-1{
    width: 100%;
  }
  #reg-college-2{
    width: 100%;
  }
  
  .select-field {
    padding: 0 20px;
  }
  
  .input-field:hover,
  .input-field:focus {
    border: 1.5px solid #111111;
    color: #111111;
    box-shadow: 1.5px 3px 0px 0px #111111;
    outline: none;
  }
  
  .input-field:hover::-webkit-input-placeholder {
    color: #111111;
  }
  
  .college-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 2.85vw;
  }
  
  .college-button-clear,
  .college-button-submit {
    padding: 10px 20px;
    border-radius: 6px;
    border: 1.5px;
    font-family: Comic Sans MS;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0em;
    border: 1.52px solid #505050;
    box-shadow: 1.5px 3px 0px 0px #505050;
  }
  
  .college-button-clear {
    color: #505050;
    background-color: #ffffff;
  }
  
  .college-button-submit {
    color: #ffffff;
    background-color: #cccccc;
  }
  
  .college-button-clear:hover {
    color: #111111;
    border: 1.52px solid #111111;
    box-shadow: 1.5px 3px 0px 0px #111111;
  }
  
  .college-button-submit:hover {
    background-color: #ff5c00;
    border: 1.52px solid #111111;
    box-shadow: 1.5px 3px 0px 0px #111111;
  }

  


  /* //////////////////////// */





  @media screen and (max-width: 930px) {
    .college {
      border-radius: 0;
      filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.32));
      padding: 3.8vh 6.1vw;
    }
  
    .college-step1 {
      display: none;
    }
  
    .college-step2 {
      gap: 3.33vw;
    }
  
    .college-step2-number {
      width: 28px;
      height: 28px;
    }
  
    .personal-step2-number-content {
      font-size: 1rem;
    }
  
    .college-step2-description-content-para1 {
      height: 7px;
      font-size: 0.625rem;
      line-height: 0.75rem;
    }
  
    .college-step2-description-content-para2 {
      height: 9px;
      font-size: 0.875rem;
      line-height: 1rem;
    }
  
    .college-inputs {
      gap: 3.8vh;
      padding: 4.76vh 0 4.52vh;
    }
  
    .college-input1,
    .college-input2,
    .college-input3 {
      flex-direction: column;
      gap: 3.8vh;
    }
  
    .input-field {
      width: 77.8vw;
    }
  
    .college-buttons {
      gap: 3.33vw;
      justify-content: center;
    }
  
    .college-button-clear,
    .college-button-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 37.22vw;
      font-size: 1rem;
    }
    #rgs-state-uks{
      width: 77vw;
    }
    #rgs-district-uks{
      width: 77vw;
    }
  
  }