@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');
.ourteampage1{
    background-color: #ffffff;
    width:100vw;
    /* height:100vh; */
}
.ourteampage1::-webkit-scrollbar{
    height: 0;
    width:0;
    display: none;
}
.ourteam_heading{
    display:flex;
    justify-content: center;
    margin-top: 10vh;
    padding: 1rem;
}
.meet{
    width:30vw;
    height:auto;
}
.ourteam_imgdiv1{
    display: flex;
    align-items: flex-end;
}
.ourteamimg1{
    width:24vw;
    height:54vh;
}
.convenordiv{
    position: absolute;
    z-index: 1;
    width:20vw;
    height:auto;
    flex-shrink: 0;
}
.ourteamimg2{
    width:60vw;
    height:52vh;
}
.ourteamimgdiv1{
    display: flex;  
    justify-content: center;
    padding: 10vh 0 3vh 0;  

}
.conv_text{
    position: absolute;
    z-index: 1;
    color: white;
    padding-left: 7vw;
    padding-top: 3vh;
}
.ourteam_imgdiv2{
    display: flex;
    flex-shrink: 0;
}
.conv_text h3{
    font-family: Bangers;
    letter-spacing: 2.56px;
    font-size: 2.5vw;
    padding-bottom: 1vh;
}
.conv_text h4{
    font-family: comic neue;
    font-size: 1.7vw;
    padding-bottom: 3vh;
}
.conv_text h5{
    font-family: comic neue;
    width:44vw;
}
.co-con-heading{
    display: flex;
    justify-content: center;
    margin:8vh 0 15vh 0;
}
.co-con{
    width:25vw;
    height:auto;
}
.coconvenor-list{
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2rem;
    margin-left:1.3vw;
    padding-left:1vw;
    gap:2vw;
    /* position: absolute; */
    top: 33vh;
    width: 100vw;
}
.verticalhead-list{
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2rem;
    margin-left:1.3vw;
    padding-left:1vw;
    gap:2vw;
    /* position: absolute; */
    top: 33vh;
    width: 100vw;
}
.member1{
    border-style: solid;
    border-color: black;
    /* border-radius: 15px; */
    border-width: 2px;
    background-color: #ffffff;
    margin-bottom: 5vh;
}
.memberimg{
    background-image: url(../../assests/memberimgbg.webp);
    object-fit: cover;
    margin:3vh 0 2vh 3vw;
    border-style: solid;
}
.member-identity{
    width: 15vw;
    margin:2vw;
    height:30vh;
    /* border-radius:15px ; */
}
.membname{
    display: flex;
    justify-content: center;
}
.memb-name{
    font-family: Bangers;
    font-size: 3vw;
    color: #FFAF02;
    font-weight: 400;
    letter-spacing: 1.762px;
    -webkit-text-stroke: 3px black;

}
/* .memb-name {-webkit-text-stroke: 1px black;} */

.membphone{
    display: flex;
    justify-content: center;
    gap:2vw;
}
.memb-phone{
    color: #202020;
leading-trim: both;
text-edge: cap;
font-family: Comic Neue;
font-size: 2vw;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.378px;
}
.phone-img{
    width:1.6vw;
}
.memb-media{
    display: flex;
    justify-content: center;
    padding:2vh 0 2vh 0;
    gap:2vw;
}
.media-icon{
    width:2vw;
    cursor: pointer;
}
.member1:hover{
    box-shadow:3px 3px 0px 0px #000;
}
.ourteammobpage1{
    display: none;
}
@media screen and (max-width:1700px){
    .coconvenor-list,.verticalhead-list{
        margin-left:1.2vw;
    }
}
@media screen and (max-width:1400px){
    .coconvenor-list,.verticalhead-list{
        margin-left:0.9vw;
    }
}
@media screen and (max-width:1000px){
    .coconvenor-list,.verticalhead-list{
        margin-left:0.4vw;
    }
}
@media screen and (max-width:850px){
    .coconvenor-list,.verticalhead-list{
        margin-left:0.2vw;
    }
}

@media screen and (max-width:768px){
    .ourteampage1{
        display:none;
    }
    .ourteammobpage1{
        display:block;
        width:100vw;
        background-color: #ffffff;
       
    }
    .ourteammobimg1{
        width:50vw;
    }
    .ourteammobimg2{
        width:50vw;
    }
    .convenordiv{
        width:40vw;
    }
    .ourteammobimgdiv1{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:17vh 0 10vh 0;
    }
    .ourteammob_imgdiv1{
        display: flex;
        align-items: flex-end;
    }
    .coconvenormob-list{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 0;
        gap:2vh;
    }
    .verticalheadmob-list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /* flex-wrap: wrap; */
            padding: 0;
            gap:2vh;
        
    }
    .member-identity{
        width: 56vw;
        margin: 2vw;
        height: 35vh;
    }
    .co-con{
        width: 50vw;
        height:auto;
    }
    .memb-name{
        font-size:10vw;
    }
    .memb-phone{
        font-size:4vw;
    }
    .phone-img{
        width:3vw;
    }
    .media-icon{
        width:5vw;
    }
    .memb-media{
        gap:5vw;
    }
    .memberimg{
        margin: 4vh 0 2vh 10vw;
    }
}