.idFull{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idBox{
    background-color: white;
    width:85vh;
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}