.majorAttractionsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: url("../../assests/attractions_bg.webp"); */
}
.mj-attrac-img{
  width: 100vw;
  height: 78vh;
  position: absolute;
}
.textContainer {
  width: 23vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 1px solid grey;
  padding-top: 3.5rem;
  z-index: 2;
}
.headingBox {
  width: 68vw;
  color: #fff;
  text-align: center;
  font-family: Super Comic !important;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top:0;
}
.imagesBox {
  width: 60vw;
  height: 72vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}
.imagesBox::-webkit-scrollbar{
  width: 0px !important;
} 

.imagesBox::-webkit-scrollbar-thumb{
  background: none !important;
}

.imagesBox::-webkit-scrollbar-track{
  background: none !important;
}   

.subtitleBox {
  margin-top: 2rem;
}
.subtitleBox ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtitleBox ul li {
  color: #fff;
  font-family: Comic Neue;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.home-attraction-btn{
  background: transparent;
  padding: 1.2vh 1.7vw;
  border:1px solid white;
  color:white;
  border-radius: 5px;
}

.home-attraction-btn-active{
  background: white;
  padding: 1.2vh 1.7vw;
  color:black;
  border:1px solid white;
  border-radius: 5px;
}

.exploreMore {
  width: 11rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Comic Neue;
  font-weight: 700;
  background: #f7b900;
}
* {
  -ms-overflow-style: none;
}
.home::-webkit-scrollbar {
  display: none;
}


@media only screen and (max-width:786px){
  #major_attractions_text{
    width:70vw;
  }
  .subtitleBox ul li{
    font-size:3vw;
  } 
  .majorAttractionsContainer{
    background:url('../../assests/attractions_bg_mobile.webp') !important;
    background-size: cover !important;
    background-repeat: no-repeat;
  } 
}



@media only screen and (max-width:600px){
  #major_attractions_text{
    width:70vw;
  }
  .subtitleBox ul li{
    font-size:2vw;
  } 
  .subtitleBox ul {
    gap:3vw !important;
  }
}

@media only screen and (max-width:450px){
  .home-attraction-btn{
    font-size:3vw;
  }
  .home-attraction-btn-active{
    font-size:3vw;
  }
}

@media screen and (max-width: 2500px) {
  .majorAttractionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .textContainer {
    width: 80vw;
    align-items: center;
    border-right: none;
  }
  .imagesBox {
    width: 90vw;
  }
}

.imagesBox img{
  border:2.53px solid white;
}

@media only screen and (max-width: 2100px) {
  .imagesBox {
    width: 90vw;
    height: 72vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    z-index: 1;
    margin-top: -12vh;
  }
  .textContainer {
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding-top: 3.5rem;
    /* padding-right: -0.5rem; */
  }
  .majorAttractionsContainer {
    width: 100vw;
    padding-top: 12vh;
    margin-top: -18vh;
    position: relative;
    z-index: 1;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('../../assests/attractions_bg.webp'); */
    background-size:cover;
  }

  .subtitleBox ul {
    display: flex;
    flex-direction: row;
    gap: 6vw;
  }
}
@media screen and (max-width:768px){
  .mj-attrac-img{
    display: none;
  }
}
