@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
  margin: 0;
  padding: 0;
}
.home {
  // min-height: 187vh;
  width: 100vw;
  background-color: #000000;
  overflow-x: hidden;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  .homebg {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100.5vw;
    overflow-x: hidden;
    // height: 100vh;
  }
  .thomso {
    position: relative;
    margin: 11vh 30vw 0vh 30vw;
  }
  .b-thomso {
    position: relative;
    // width: 36vw;
    margin: 0vh 32vw 0vh 32vw;
  }
  .home-text-para{
    width: 30vw;
    color: #fff;
    z-index: 1;
    width: 60vw;
    margin: 11vh auto 0 auto;
    margin-bottom: 11vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    font-family: 'Comic Sans MS';
  }
  .blue-thomso{
    color: #1499ba;
  }
  .yellow-thomso{
    color: #F7B900;
  }
  .register {
    width: 250px;
    position: relative;
    display: inline-flex;
    margin: 1vh auto;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    font-family: Bangers;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    letter-spacing: 1.6px;
    cursor: pointer;
  }
  .register:hover{
    background-color:#F7B900 ;
    // color: #fff;
  }
  .Explore {
    width: 250px;
    position: relative;
    display: none;
    margin: 1vh auto;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #000;
    background: #FFD001;
    color: #000;
    font-family: Bangers;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    letter-spacing: 1.6px;
    cursor: pointer;
  }
  .singers{
    position: relative;
    margin: 0vh 10vw;
  }
  .singersmob{
    display: none ;
    width: 87vw;
    height: 73vh;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .home{
    min-height: 100vh !important;
    width: 100vw;
  }
  .register{
    width: 150px !important;
    font-size: 20px !important;
    margin: 3vh auto !important;
    border-radius: 8.181px !important;
  }
  .Explore{
    width: 155px !important;
    font-size: 20px !important;
    margin: 3vh auto !important;
    height: 40px !important;
    border-radius: 8.181px !important;
  }
  .thomso{
    width: 80vw !important;
    margin: .5vh auto !important;
  }
  .b-thomso{
    width: 75vw !important;
    margin: .5vh auto !important;
  }
  .singers{
    display: none !important;
  }
  .singersmob{
    display: block !important;
    position: relative;
    // top: 3%;
  }

}

#homebs2{
  display: none;
}
@media only screen and (max-width:768px){
  #homebg1{
display: none;
}

#homebs2{
  display: block;
}
.Explore{
  display: inline-flex !important;
}

}