* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 99vw;
  display: grid;
  height: 14vh;
  grid-template-columns: 30% 20% 20% 30%;
  position: relative;
  .logo {
    width: 100px;
    margin-left: 40px;
    margin: auto 50px;
    cursor: pointer;
  }
  a {
    color: #fff;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: auto;
    line-height: normal;
    text-decoration: none;
  }
  .home-login {
    width: 150px;
    height: 40px;
    display: inline-flex;
    padding: 2px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    color: #000;
    text-align: center;
    margin: auto;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-right: 40px;
    cursor: pointer !important;
  }

  .row {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
    gap: 5vw;
  }
}
@media (max-width: 842px) {
  .nav {
    height: 7vh;
    .logo {
      width: 60px !important;
      margin-left: 20px !important;
    }
    h2 {
      font-size: 11px !important;
    }
    .home-login {
      font-size: 10px !important;
      padding: 2px 10px !important;
      margin: auto;
      width: 60px;
      display: flex;
      align-items: center;
      height: 25px;
    }
    .row {
      width: 30%;
      border-radius: 8px !important;
      background: #fff;
    }
  }
}