body {
  /* background-color: white; */
}
.FAQdiv 
{
  display: flex;
  justify-content: center;
}
.FAQimg
{
  width: 18vw;
  margin-bottom:5vh;
}
.MUN_FAQ_main_div {
  background-color: transparent !important;
  width: 75vw;
  color: white;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom:17vh;
}

.mun_faq_heading {
  display: flex;
  justify-content: center;
  color: #FDD52E;
  font-family: Bangers;
  font-size: 5rem;
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 75vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  gap: 10px;
  /* margin-left:10vw; */
}

.accordion_1 {
  position: absolute;
  /* right: -30vw; */
  left: 66vw;
}

.panel {
  /* padding: 0 18px; */
  padding-top: 10px;
  /* display: none; */
  overflow: hidden;
  color: var(--Secondary2, #A09FAF);
  font-family: Roboto;
  width: 107%;
  /* text-align: justify; */
}

.panel p {
  width: 96%;
}

.plus_btn_mun {}

.minus_btn_mun {
  display: none;
}

.left_num_faq {
  font-family: Comic neue;
  font-size: 1.7rem;
  color: var(--Secondary2, #A09FAF);
  font-family: Comic Neue;
}


.right_mun_faq_head {
  position: relative;
  /* display: flex; */
  margin-top: 1vh;
  color: var(--Surface, #F6F6F6);
  font-family: Roboto;
}

.right_mun_faq_head1 {
  display: flex;
}

.mun_faq_cutline {
  border: 1px solid #373D41;
  width: 75vw;
  margin: auto;
}

@media only screen and (max-width:768px) {
  .accordion_1 {
    right: -10vw;
  }

  .panel p {
    width: 100%;
  }

  .MUN_FAQ_main_div {
    width: 90vw;
  }
  .accordion{
    width: 100%;
  }
  .right_mun_faq_head {
    width: 70%;
  }
  .panel {
    padding: 0;
    padding-top: 10px;
  }
}