  /* .forgot {
    background-color: #ffffff;
    margin: auto;
    width: 40%;
    height: 488px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 11rem;
    box-shadow: 12px 12px 0px 0px #00000066;
  
  }
  
  
  .forgot h2 {
    font-family: Comic Sans MS;
    color: #FF5C00;
    font-size: 35px;
    font-weight: 900;
    margin-top: 7.2rem;
    line-height: 32px;
  
  }
  
  .forgot p {
    width: 70%;
    margin: 0 auto 0 auto;
    font-size: 18px;
  }
  
  .submit {
    display: block;
    width: 40%;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: 400;
  
  
  }
  
  .email {
    width: 40%;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: 400;
    margin: 3rem auto 0 auto;
    box-shadow: 2px 2px #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #505050;
    text-align: left;
  }
  
  .submit {
    background-color: #CCCCCC;
    color: #ffffff;
    margin: 2rem auto 0 auto;
    border: 1.52px solid #505050;
    box-shadow: 1.518475890159607px 3.036951780319214px 0px 0px #505050;
  
  }
  
  
  .message {
    display: none;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 60%;
    height: 6rem;
    margin: 2rem auto 0 auto;
  
  }
  
  .message p {
    color: #000000;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    width: 85%;
    margin: 10px auto 0 auto;
  }
  
  
  
  @media (max-width: 1200px) and (min-width: 900px) {
    .forgot {
      width: 45%;
      box-shadow: 10px 10px 0px 0px #00000066;
    }
  
    .forgot h2 {
      font-size: 30px;
    }
  
    .forgot p {
      font-size: 15px;
    }
  
    .message {
      margin-top: 35px;
      width: 65%;
      height: 6rem;
    }
  
    .message p {
  
      font-size: 15px;
      line-height: 18px;
      font-weight: 400;
      width: 85%;
    }
  
    .email {
      width: 50%;
    }
  
    .submit {
      width: 50%;
    }
  }
  
  @media (max-width: 900px)and (min-width:700px) {
  
    .forgot {
      width: 50%;
    }
  
    .forgot h2 {
      font-size: 27px;
    }
    .forgot p{
      font-size: 15px;
    }
  
    .message {
      width: 65%;
    }
  
    .message p {
      font-size: 15px;
      line-height: 15px;
    }
  
    .email {
      width: 50%;
    }
  
    .submit {
      width: 50%;
    }
  }
  
  @media (max-width: 700px)and (min-width:450px) {
    .forgot {
      width: 60%;
      box-shadow: 8px 8px 0px 0px #00000066;
    }
  
    .forgot h2 {
      font-size: 26px;
    }
  
    .forgot p {
      font-size: 14px;
    }
  
    .message {
      margin-top: 42px;
      width: 70%;
      height: 5rem;
    }
  
    .message p {
  
      font-size: 14px;
      line-height: 15px;
      
    }
  
    .email {
      width: 55%;
    }
  
    .submit {
      width: 55%;
    }
  }
  
  @media (max-width: 450px) and (min-width: 350px) {
    .forgot {
      width: 71%;
      box-shadow: 8px 8px 0px 0px #00000066;
    }
  
    .forgot h2 {
      font-size: 24px;
    }
  
    .forgot p {
      font-size: 13px;
    }
  
    .message {
      margin-top: 40px;
      width: 70%;
      height: 5rem;
    }
  
    .message p {
  
      font-size: 13px;
    } 
  
    .email {
      width: 55%;
    }
  
    .submit {
      width: 55%;
    }
  }
  
  @media (max-width:350px) {
    .forgot {
      width: 85%;
      box-shadow: 6px 6px 0px 0px #00000066;
    }
  
    .forgot h2 {
      font-size: 23px;
    }
  
    .forgot p {
      font-size: 12.5px;
    }
  
    .message {
      margin-top: 38px;
      width: 75%;
      height: 5rem;
    }
  
    .message p {
  
      font-size: 12.5px;
      width: 80%;
    }
  
    .email {
      width: 60%;
    }
  
    .submit {
      width: 60%;
    }
  } */

  .forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: auto;
    width: fit-content;
    height: 45vh;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 12px 12px 0px 0px #00000066;
    padding: 4vw 0;
  }

  .forgot h2 {
    font-family: Comic Sans MS;
    color: #FF5C00;
    font-size: 35px;
    font-weight: 900;
    line-height: 32px;
  
  }
  
  .forgot p {
    width: 40%;
    margin: 0 auto 0 auto;
    font-size: 18px;
    color: #505050;
  }
  
  .send {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: 400;
    background-color: #CCCCCC;
    color: #ffffff;
    margin: 2rem auto;
    border: 1.52px solid #505050;
    box-shadow: 1.518475890159607px 3.036951780319214px 0px 0px #505050;
  
  }
  
  .email {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: 400;
    margin: 3rem auto 0 auto;
    box-shadow: 2px 2px #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #505050;
    text-align: left;
  }
  
  .message {
    /* display: none; */
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 60%;
    height: 6rem;
    margin: 0 auto 0 auto;
  }
  
  .message p {
    color: #000000;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    width: 85%;
    margin: 1.5rem auto;
  }