@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.merchPage1{
    width: 100vw !important;
    overflow-x: hidden !important;
}
.merch_Page1{
background: white;
/* background-image: url("./../../../assests/Merchbggrp.png"); */
/* margin-top: ; */
padding-bottom: 40px;
width: 100vw !important;
overflow-x: hidden !important;
position: relative;
min-height: 103vh;
}

.MerchYellowBG {
    margin: 3vh auto 5vh 1vw;
    width: 98vw;
    position: absolute;
    /* z-index: 1; */
    height: 95vh;

}

.home_merchpage{
    display: flex;
    display: none;
    /* background-color: #535353; */
    justify-content: center;
    padding: 0;
    margin: 0;
}
.merch_bg_img{
    /* position: relative; */
    /* z-index: -1; */
}
.merch_Bg{
    width:100vw;
    height:60vh;
}
.merch_Smile{
    /* position: absolute; */
    /* z-index: 1; */
    margin-top: 2rem;
    margin-left: -72vw;
    width: 90px;
}
/* .ell-img{
    width:29vw;
} */
/* .ellipse{
padding-left: 20vw;
} */
.text1 p{
    font-size: 1.5vw;
}
.home_text{
    /* display: none; */
    /* width: 40vw; */
    padding: 1.8vw;
    color:black;
    /* padding-left: 10vw; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position:absolute; */
    z-index: 1;
    width:100vw;
}
.home_heading{
    font-size: 2vw;
    margin-top: 2rem;
    font-family: comic Neue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_para{
    /* color: #FFFFFF; */
    font-family: comic neue;
    font-weight: 400;
    margin-top: 1vw;
    font-size: 1.7vw;
    width:70vw;
    padding-bottom:4vh;
}
/* .products_hr{
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
}
.products_hr hr{
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0em;
} */
.text1{
    padding-left: 9vw;
    margin: 1vw;

}
.price{
    display: inline-flex;
    padding-left: 1vw;
}
.price2{
    margin-left: 1vw;
    color: #686868;
}
.text{
    font-weight: bold;
}
.prod_name{
    display:inline-flex;
    color:black;
    padding: 0 1vw;
}
.product{
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3rem;
    margin-left:1vw;
    padding-left:1vw;
    gap:1vw;
    position: absolute;
    /* z-index: 10; */
    top: 33vh;
    width: 85vw;
}
.product hr{
display: none;
}

.product-merch{
    width: 19vw;
    margin:2vw;
    height:38vh;
    border-radius:15px ;
}
.product1:hover .product-merch{
    transform: scale(1.1);
    transition: 0.05s ease-in-out;
}
.product text{
    width: 2vw;
}
.product1{
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 1px;
    background-color: #ffffff;
}
.product1:hover{
    box-shadow:4px 4px 0px 0px #000;
    transition: 0.05s ease-in-out;
}
@media screen and (max-width:1200px ) and (min-width:632px) {
.product_name{
    font-size: 1.4rem;
    font-weight:100;
    color: #2C2C2C;
font-size: 20px;
font-family: Bangers;
font-weight: 400;
text-transform: lowercase;
line-height: 24px;
letter-spacing: 2px;
word-wrap: normal;
}
}
.price1{
    color: rgba(42.29, 41.58, 41.58, 0.98) !important;
    font-size: 20px !important;
    font-family: Comic Neue    !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    letter-spacing: 0.40px !important;
    word-wrap: normal !important;   
}
.text{
    margin-left:1vw;
    margin-top:0vw;
    
}
.price3{
    color: rgba(153, 153, 153, 0.98) !important;
font-size: 16px !important;
font-family: Comic Neue !important;
font-weight: 700 !important;
text-decoration: line-through !important;
line-height: 20px !important;
letter-spacing: 0.32px !important;
word-wrap: normal !important;
padding-right:0px !important;
}
.offer{
    color: #00BE6E;
font-size: 16px;
font-family: Comic Neue;
font-weight: 700;
line-height: 20px;
letter-spacing: 0.32px;
word-wrap: normal
}
.price span{
    white-space:nowrap;
}

@media screen and (max-width:1200px) {
    /* .ell-img{
        width:35vw;

    } */
    .home_para{
        font-size: 1.8vw;
        /* width: 30vw; */
    }
}

@media screen and (max-width:1000px) {
    .merch_Smile{
        margin-left: -74vw;
    }
}
@media screen and (max-width:768px){
    .merch_Smile{
        display: none;
    }
.home_merchpage{
    display: block;
}
.product{
    display: block;
}
.product-merch{
    width: 60vw;
}
.home_text{
    width: 100%;
    padding: 0;
    /* margin: 0; */
    /* margin-top: -25rem; */
}
.home_heading{
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 3vw;

}
.home_para{
    width: 70%;
    font-size: 2.9vw;
    line-height: 2.8vw;
    text-align: center;
    padding-bottom:4vh;
    /* margin: 0 auto; */
}
/* .home_para p{
    width: 20vw;
} */
/* .ellipse{
    padding-bottom: 2vw;
    padding-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
} */
.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap:2vh;
}
.product1,.product2,.product3,.product4,.product5,.product6,.product7,.product8{
    padding: 5vw;
}
.product hr{
    display: block;
    color: black;
    width: 100%;
}
.home_heading h1{
    line-height: 6vw;
}
.text1 p{
    font-size: 3vw;
}
}
.home_text{
    /* background-image:url("./mrechbg.webp"); */
    /* background-size: cover; */
}
/* < Stashed changes */
@media screen and (max-width:350px){
    .prod_img{
        padding-left:4vw;
    }
}