.MUN-bg{
    /* background-color: black; */
}
.MUN-Bg{
    position: absolute;
    z-index: -1;
    width: 100vw;
}
.top-MUN-img
{
    display: flex;
    justify-content: center;
    margin-top: 19vh;
}
.registerNowBtn
{
    display: flex;
    justify-content: center;
    
}
.registerNowBtnClick
{
    border-radius: 16px;
    color: #000;
    font-family: Bangers;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    letter-spacing: 1.6px;
    padding: 1vh 2.5vw;
    background-color: #fff;
    margin-top: 20vh;
}