.mob-nav-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mob-nav-menu {
    display: flex;
    position:fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    height: 100vh;
    width: 100vw;
    background-color: black;
    backdrop-filter: blur(24px);
    position: absolute;
    z-index: 15;
    transition: ease-in 2sec;
  }

  .mob-nav-links {
    height: 80vh;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .active {
    transform: scale(1.1);
  font-weight: 700;
  color: #21827e;
  font-family: "Oxanium";
  font-size: 24px;
  line-height: 22px;
  }

  .mob-nav-text {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: white;
  }
  

  .reg-but-mib {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    color: white;
    margin-top: 80vh !important;
    margin-right: 15vh;
    background: black;
    padding: 7px 10px;
  }
}
