.nnp-container {
    width: 100vw;
    background: url(../../../assests/profile1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .boxborder{
    position: absolute;
    width: 90vw;
    height: 75vh;
    top: 15vh;
    left: 5vw;
    border: 2px solid rgba(42, 42, 42, 0.98);

  }
  .nnp-content{
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: -50px;
  }
  .nnp-mobile {
    display: none;
  }
  
  .nnp-mobhead{
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .nnp-content{
      display: none;
    }
  
    .nnp-mobile {
      display: contents;
    }
  
    .nnp-laphead{
      display: none;
    }
  
    .nnp-mobhead{
      display:contents;
    }
    }
    
    